<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

  <title>Map page!</title>
  <link rel="stylesheet" href = 
	"https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1", maximum-scale=1, user-scalable=no">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- Leaflet provides map data -->
  <script 
      src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js">
  </script>

  <!-- Geocoding plugin for Leaflet from MapQuest -->
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"
  />
  
  <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js">
  </script>
  <script 
      src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=vQ11koWJrQ5ECGj2bAH5BdK3KmYNeJBa">
  </script>
  <script 
      src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-geocoding.js?key=vQ11koWJrQ5ECGj2bAH5BdK3KmYNeJBa">
  </script>



</head>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/maps.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>Here's the map page!</h1>
  <p>About time, right?</p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div id="map"></div>

</div> 

<script type="text/javascript">

window.onload = function() {

  var popup = L.popup(),
    geocode,
    map;

  var map = L.map('map', {
    layers: MQ.mapLayer(),
    center: [ 44.05207, -123.08675 ],
    zoom: 14 })
    .on('click', function(e) {
      popup.setLatLng(e.latlng).openOn(this);
      geocode.reverse(e.latlng);
    });
  
  geocode = MQ.geocode().on('success', function(e) {
    popup.setContent(geocode.describeLocation(e.result.best));
  });

}

</script>

</body>
</html>